* {
    font-family: serif, 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: auto;

    background: #62c9de;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8cf3ff, #62dade);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8ce8ff, #DE6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
        /* Adjust the distance you want the element to move */
    }

    100% {
        transform: translateX(0);
    }
}

.infocard:hover {
    transform: scale(1.1);
    /* Scale up the card on hover */
    z-index: 1;
    /* Ensure the card is on top of other elements while hovering */
    animation-play-state: paused;
    /* Pause the animation on hover */
}

.infocard {
    align-items: center;
    margin-top: 200px;
    animation: slide 3s infinite;
    /* Adjust the animation duration and iteration count as needed */
}

.user-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

@media (max-width: 1500px) {
    .user-div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

    }
}